cr_core/resources/wsdl/LgLcsPointAccessService.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.2-10/10/2010 12:09 AM(ramapulavarthi)-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:ns="http://com/mobileleader/lighting/service/soapws/pointaccess/types"
             xmlns:tns="http://pointaccess.soapws.service.lighting.mobileleader.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://pointaccess.soapws.service.lighting.mobileleader.com/"
             name="LgLcsPointAccessService">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://com/mobileleader/lighting/service/soapws/pointaccess/types" schemaLocation="LgLcsPointAccessService.xsd" />
		</xsd:schema>
	</types>


	<message name="getTimeRequest">
		<part name="parameters" element="ns:getTimeRequest" />
	</message>
	<message name="getTimeResponse">
		<part name="parameters" element="ns:getTimeResponse" />
	</message>

	<message name="setTimeRequest">
		<part name="parameters" element="ns:setTimeRequest" />
	</message>
	<message name="setTimeResponse">
		<part name="parameters" element="ns:setTimeResponse" />
	</message>

	<message name="checkSystemAliveRequest">
		<part name="parameters" element="ns:checkSystemAliveRequest" />
	</message>
	<message name="checkSystemAliveResponse">
		<part name="parameters" element="ns:checkSystemAliveResponse" />
	</message>

	<message name="discoverRequest">
		<part name="parameters" element="ns:discoverRequest" />
	</message>
	<message name="discoverResponse">
		<part name="parameters" element="ns:discoverResponse" />
	</message>

	<message name="readPointValuesRequest">
		<part name="parameters" element="ns:readPointValuesRequest" />
	</message>
	<message name="readPointValuesResponse">
		<part name="parameters" element="ns:readPointValuesResponse" />
	</message>

	<message name="writePointValuesRequest">
		<part name="parameters" element="ns:writePointValuesRequest" />
	</message>
	<message name="writePointValuesResponse">
		<part name="parameters" element="ns:writePointValuesResponse" />
	</message>

	<message name="subscribeCovPointsRequest">
		<part name="parameters" element="ns:subscribeCovPointsRequest" />
	</message>
	<message name="subscribeCovPointsResponse">
		<part name="parameters" element="ns:subscribeCovPointsResponse" />
	</message>

	<message name="unsubscribeCovPointsRequest">
		<part name="parameters" element="ns:unsubscribeCovPointsRequest" />
	</message>
	<message name="unsubscribeCovPointsResponse">
		<part name="parameters" element="ns:unsubscribeCovPointsResponse" />
	</message>


	<portType name="LgLcsPointAccessServiceEndpoint">
		<operation name="getTime">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/getTimeRequest" message="tns:getTimeRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/getTimeResponse" message="tns:getTimeResponse" />
		</operation>

		<operation name="setTime">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/setTimeRequest" message="tns:setTimeRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/setTimeResponse" message="tns:setTimeResponse" />
		</operation>

		<operation name="checkSystemAlive">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/checkSystemAliveRequest" message="tns:checkSystemAliveRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/checkSystemAliveResponse" message="tns:checkSystemAliveResponse" />
		</operation>

		<operation name="discover">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/discoverRequest" message="tns:discoverRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/discoverResponse" message="tns:discoverResponse" />
		</operation>

		<operation name="readPointValues">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/readPointValuesRequest" message="tns:readPointValuesRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/readPointValuesResponse" message="tns:readPointValuesResponse" />
		</operation>

		<operation name="writePointValues">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/writePointValuesRequest" message="tns:writePointValuesRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/writePointValuesResponse" message="tns:writePointValuesResponse" />
		</operation>

		<operation name="subscribeCovPoints">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/subscribeCovPointsRequest" message="tns:subscribeCovPointsRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/subscribeCovPointsResponse" message="tns:subscribeCovPointsResponse" />
		</operation>

		<operation name="unsubscribeCovPoints">
			<input wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/unsubscribeCovPointsRequest" message="tns:unsubscribeCovPointsRequest" />
			<output wsam:Action="http://pointaccess.soapws.service.lighting.mobileleader.com/LgLcsPointAccessServiceEndpoint/unsubscribeCovPointsResponse" message="tns:unsubscribeCovPointsResponse" />
		</operation>
	</portType>


	<binding name="LgLcsPointAccessServiceEndpointPortBinding" type="tns:LgLcsPointAccessServiceEndpoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

		<operation name="getTime">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="setTime">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="checkSystemAlive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="discover">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="readPointValues">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="writePointValues">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="subscribeCovPoints">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="unsubscribeCovPoints">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>


	<service name="LgLcsPointAccessService">
		<port name="LgLcsPointAccessServiceEndpointPort" binding="tns:LgLcsPointAccessServiceEndpointPortBinding">
			<soap:address location="http://localhost/api/soap/PointAccessService" />
		</port>
	</service>

</definitions>
